<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin - Crop Management</title>
</head>
<body>
<h1>Admin - Crop Management</h1>

<nav>
    <ul>
        <li><a href="/admin/dashboard">Dashboard</a></li>
        <li><a href="/admin/product">Add Product</a></li>
        <li><a href="/admin/cropmanagement">Crop management</a></li>
        <li><a href="/admin/payments">View Payment</a></li>
        <li><a href="/admin/manage">Manage Users</a></li>
        <li><a href="/admin/delete_management">Request Users</a></li>
        <li><a href="/admin/logout">Logout</a></li>
    </ul>
</nav>

<h2>All Crops</h2>


<table border="1" style="width: 100%; border-collapse: collapse; margin-top: 20px;">
    <thead>
    <tr>
        <th>ID</th>
        <th>Category</th>
        <th>Description</th>
        <th>Planting Date</th>
        <th>Weather Data</th>
        <th>Watering Date</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="crop : ${crops}">
        <td th:text="${crop.id}"></td>
        <td th:text="${crop.category}"></td>
        <td th:text="${crop.description}"></td>
        <td th:text="${crop.plantingDate}"></td>
        <td th:text="${crop.weatherData}"></td>
        <td th:text="${crop.wateringDate}"></td>

    </tr>
    </tbody>
</table>

</body>
</html>
