<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>dashboard</h1>
<p>Welcome to your dashboard</p>

<nav>
    <ul>
        <li><a href="/admin/dashboard">Dashboard</a></li>
        <li><a href="/admin/product">Add Product</a></li>
        <li><a href="/admin/cropmanagement">Crop management</a></li>
        <li><a href="/admin/payments">View Payment</a></li>
        <li><a href="/admin/manage">Manage Users</a></li>
        <li><a href="/admin/delete_management">Request Users</a></li>
        <li><a href="/admin/logout">Logout</a></li>
    </ul>
</nav>


</body>
</html>


