<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>dashboard</h1>
<p>Welcome to your dashboard</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
<h1>Admin Dashboard</h1>
<p>Welcome to your dashboard.</p>

<nav>
    <ul>
        <li><a href="/admin/dashboard">Dashboard</a></li>
        <li><a href="/admin/product">Add Product</a></li>
        <li><a href="/admin/cropmanagement">Crop management</a></li>
        <li><a href="/admin/payments">View Payment</a></li>
        <li><a href="/admin/manage">Manage Users</a></li>
        <li><a href="/admin/delete_management">Request Users</a></li>
        <li><a href="/admin/logout">Logout</a></li>
    </ul>
</nav>
</div>
</body>
</html>


</body>
</html>