<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Management</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/admin/dashboard">Dashboard</a></li>
        <li><a href="/admin/product">Add Product</a></li>
        <li><a href="/admin/cropmanagement">Crop management</a></li>
        <li><a href="/admin/payments">View Payment</a></li>
        <li><a href="/admin/manage">Manage Users</a></li>
        <li><a href="/admin/delete_management">Request Users</a></li>
        <li><a href="/admin/logout">Logout</a></li>
    </ul>
</nav>
<h1>Delete Management</h1>


<h2>Existing Delete Records</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Reason</th>

    </tr>
    </thead>
    <tbody>

    <tr th:each="delete : ${deletes}">
        <td th:text="${delete.id}"></td>
        <td th:text="${delete.reason}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>
