<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Farmer</title>
</head>
<body>
<h1>Farmer</h1>
<nav>
    <ul>
        <li><a href="/famer/product">Product</a></li>
        <li><a href="/farmer/crop">Crop management</a></li>
        <li><a href="/famer/payments">View Payment</a></li>
        <li><a href="/famer/about">About us</a></li>
        <li><a href="/famer/profile">Manage profile</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>

</body>
</html>
